@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700;800&display=swap');

:root {
    --Nunito-font: 'Nunito', sans-serif;
    --Archivo-font: 'Archivo', sans-serif;
    --Jost-font: 'Jost', sans-serif;
    --second-color: #30242A;
    --third-color : #C88116;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: black;
}

nav {
    font-family: var(--Nunito-font);
    font-weight: 800;
    font-size: 1.1rem;
    border-bottom: black 2px solid;
}

footer {
    background-color: var(--second-color);
    padding: 5% 5%;
    color: white;
    overflow-x: hidden;
}

form {
    padding: 7% 10%;
    background-color: #231A1F;
    font-family: var(--Jost-font);
    font-weight: 600;
}

input {
    outline: none;
    box-shadow:none !important;
    border: 0 !important;
    border-bottom: 1px solid white !important;
    background-color: #231A1F !important;
}

/*-------------------------*/

img.logo {
    margin: -20px 70px;
}

a.nav-link {
    margin: 20px 30px;
}

a.nav-link:hover {
    opacity: 60%;
}

.btn.login{
    background-color: var(--second-color);
    color: white;
    font-weight: 700;
    border-radius: 15px ;
    width: 100px;
    height: 50px;
    margin: 15px 70px 0px 30px;
}

.btn.register {
    background-color: var(--second-color);
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    border-radius: 15px ;
    width: 150px;
    height: 60px;
    letter-spacing: 0.5px;
    /* margin: 15px 70px 0px 30px; */
}

.btn.login:hover, .btn.register:hover {
    background-color: white;
    border-color: var(--second-color);
}

/* button:focus {
    outline: none;
} */


/* WELCOME-SECTION */
#welcome {
    padding: 1% 0;
}

/* .container.first {
    padding: 10px;
} */

.welcome-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: justify;
}

.welcome-text h6 {
    color: var(--third-color);
    font-family: var(--Archivo-font);
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.welcome-text h1 {
    font-family: var(--Jost-font);
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 20px;
    position: relative;
}

.welcome-text h1::before{
    content: '';
    display: block;
    width: 183px;
    height: 30px;
    margin-top: 30px;
    position: absolute;
    background-color: var(--third-color);
    opacity: 30%;
}

.welcome-text p {
    font-family: var(--Archivo-font);
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 30px;
}

.welcome-img {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
    margin-left: 30px;
}

/* END OF WELCOME SECTION */

/* AFTER WELCOME SECTION */

/* .container.second {
    padding: 20px;
} */

#after-welcome {
    padding: 2% 0;
    /* height: 80vh; */
    background-color: var(--second-color);
    /* position: relative; */
}

.afterWelcome-img {
    width: 700px;
    height: 520px;
    left: -50px;
    position: relative;
}

.afterWelcome-text {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: justify;
    text-align: right;
}

.afterWelcome-text h1 {
    font-family: var(--Jost-font);
    font-weight: 600;
    font-size: 3rem;
    line-height: 72px;
    margin-bottom: 50px;
}

.afterWelcome-text p {
    font-family: var(--Archivo-font);
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 40px;
}


/* JOURNEY SECTION */

#journey {
    text-align: center;
    padding: 5% 0;
}

.title {
    width: 100%;
    position: relative;
}

.journey-title{
    font-family: var(--Jost-font);
    font-weight: 600;
    font-size: 3.5rem;
}

.journey-title::before {
    content: '';
    display: block;
    left: 50%;
    width: 340px;
    height: 30px;
    margin-top: 35px;
    position: absolute;
    transform: translate(-50%, 10%);
    background-color: var(--third-color);
    opacity: 30%;
}

.journey-col {
    padding: 5% 15%;
}

.journey-img {
    max-width: 100%;
    max-height: 100%;
}

.journey-col h2{
    font-family: var(--Archivo-font);
    font-weight: 600;
    font-size: 2rem;
    opacity: 50%;
    text-align: center;
}

.journey-col h3 {
    font-family: var(--Archivo-font);
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 40px;
    text-align: center;
    padding: 0px 60px;
}

/* REVIEW SECTION */

#review {
    background-color: var(--second-color);
    text-align: center;
    padding: 4% 0;
}

#review h1 {
    color: white;
    font-family: var(--Jost-font);
    /* font-size: 2.5rem; */
    /* padding-top: 50px; */
    margin-bottom: 20px;
}

.review-img {
    width: 20%;
    margin: 40px;
}

#review p, #review h3 {
    color: white;
    padding: 0% 15%;
    font-family: var(--Archivo-font);
    font-style: normal;
}

#review h3 {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.carousel-item {
    padding: 0% 20%;
}

/* QUOTES SECTION */

#quotes {
    padding: 7% 15%;
}

.quotes-content h3 {
    text-align: center;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 40px;
}

.quotes-content h3:nth-child(2) {
    font-size: 1.3rem;
    margin-top: 20px;
}


/* FOOTER */
.fb-ic, .ins-ic,.yt-ic,.tw-ic {
    color: white;
}

.footer_col1 h6 {
    letter-spacing: 2px;
    font-size: 1rem;
}

.footer_col1 hr {
    border: 1.5px solid white;
}

.footer_col1 p{
    font-size: 0.8rem;
    opacity: 70%;
}

.footer_col1 .row {
    margin-top: 80px;
}

.footer_col1 i {
    font-size: 30px;
}

.footer_col2 h6 {
    font-size: 1rem;
    margin-bottom: 10px;
}

.footer_col2 li {
    list-style: none;
    margin-bottom: 10px;
}

.footer_col2 li a {
    color: white;
    font-size: 0.8rem;
    opacity: 70%;
    text-decoration: none;
}

.footer_col2 li a:hover {
    opacity: 100%;
}


.footer_col2 p {
    font-size: 0.8rem;
    opacity: 70%;
}

.form-control {
    color: white !important;
}

.btn.submit {
    background-color: #382a31;
    outline: none;
    border: 0 !important;
    padding: 10px 30px;
    border-radius: 15px;
}

.btn.submit:hover {
    background-color: white;
    color: black;
}